.advantages {
	padding: 0;
	margin: 0;
}

.advantages__list {
	padding: 0;
	padding-right: 41px;
	margin: 0;
	margin-bottom: 35px;
	list-style: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	padding-left: 70px;
}

.advantages__item-title {
	padding: 0;
	padding-top: 27px;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.advantages__item-intro {
	padding: 0;
	margin: 0;
	padding-top: 10px;
	line-height: 23px;
}