.features {
	padding: 0;
	margin: 0;
}

.features__item {
	min-height: 168px;
}

.features__list {
	list-style: none;
	margin: -22px auto;
	padding: 0;
	background-color: #eeeeee;
	color: #000;
}

.features__item-title {
	padding-top: 40px;
	padding-bottom: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
}

.features__item-number {
	text-align: center;
	margin: 0;
	padding-top: 5px;
}

.features__item-intro {
	margin: 0;
	padding: 0;
	padding-bottom: 27px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.features__item-border {
	padding: 0;
	margin: 0;
	margin-top: -10px;
	margin-bottom: -12px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #d6d6d6;
}

@media (min-width: @desktop-width) {
	.features {
		padding: 0;
		margin: 0;
		min-height: 255px;
	}
	.features__list {
		display: flex;
	}
	.features__item {
		width: 400px;
		min-height: 270px;
	}
	.features__item-border {
		border: none;
	}
	.features__item-title {
		font-size: 20px;
		padding-top: 55px;
		padding-left: 140px;
		padding-right: 143px;
	}
	.features__item-number {
		padding-top: 10px;
	}
	.features__item-intro {
		padding-left: 40px;
		padding-right: 40px;
		text-align: center;
		padding-top: 15px;
	}
}
