.feature-one {
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
}


.feature-one__promo {
	margin: 0 auto;
	padding: 0;
	background-color: #81b3d2;
	color: #fff;
	min-height: 210px;
	background-image: url(../img/bg-triangle.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 103%;
}

.feature-one__caption {
	padding-top: 18%;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
}

.feature-one__number {
	text-align: center;
	margin: 0;
	padding-top: 5px;
}

.feature-one__intro {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	padding-top: 11px;
	padding-left: 23px;
	padding-right: 23px;
	text-align: center;
}
