.features {
	padding: 0;
	margin: 0;
}

.features__list {
	list-style: none;
	margin: -22px auto;
	padding: 0;
	background-color: #eeeeee;
	color: #000;
}

.features__item-title {
	padding-top: 40px;
	padding-bottom: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
}

.features__item-number {
	text-align: center;
	margin: 0;
	padding-top: 5px;
}

.features__item-intro {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	padding-top: 11px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}