.site-list {
	font-weight: bold;
	padding: 0;
	min-width: 320px;
	margin: 0 auto;
}

.site-list a {
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 13px;
	display: block;
	text-align: center;

	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #81b3d2;
	border-top: 1px solid #9ac2db;
	border-bottom: 1px solid #678fa8;
}


.site-list a [href]:hover{
	background-color: #669ec0;
}

.site-list a[href]:active{
	background-color: #5496bd;
	color: #7aadcb;
}

.site-list__item--active a {
	background-color: #fff;
	border: none;
	padding: 0;
	padding-left: 2px;
	margin: 0;
	position: relative;
	height: 56px;
}

.site-list__logo {
	position: absolute;
}

.site-list__item img {
	margin-left: -49px;
}

.site-list__item--active {
	display: block;
}

.site-list__item--close {
	position: relative;
}

.site-list__item-btn {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	top: 14px;
	right: 15px;
	background-color: #81b3d2;
	box-shadow: none;


	&::before,
	&::after {
		content: "";

		position: absolute;
		top: 13px;
		left: 1px;

		width: 27px;
		height: 4px;

		background-color: #fff;
	}

		&::before {
		transform: rotate(45deg);
		box-shadow: none;
	}

		&::after {
		transform: rotate(-45deg);
	}
}
